# Python
*.pyc
__pycache__/

# Django
*.sqlite3
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.log

# Virtual enviroment
env/
email/
.env
# Other project-specific files or directories
/static/
/media/


.vscode/
.idea/
*.sublime*
*.swp
*~

.DS_Store
Thumbs.db
